// header import
@import "../layout/header";

#cd_collection {
    .cd_collection_breadcrumb {
        @extend .cd_breadcrumb;
    }

    .header-slider {
        margin-top: 150px;
        @include sm {
            margin-top: 100px;
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.322);
            padding: 250px 0;
            .content{
                text-align: center;
            }
            @include sm {
                padding: 150px 0;
            }
        }
        .slider1 {
            background-image: url("../img/kitchen/CATALOG MITON_page-0030.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            h1 {
                color: $white;
                margin: 0;
            }
            p {
                font-size: 30px;
                @include sm {
                    font-size: 24px;
                }
            }
        }
        .slider2 {
            @extend .slider1;
            background-image: url("../img/decor/WG_01346.jpg");
        }
        .slider3 {
            @extend .slider1;
            background-image: url("../img/sofa/sofa-k22.jpg");
        }
    }

    h3{
        font-family: "heading-font-1";
    }
    #cd_collection_area {
        margin-top: 100px;
        @include sm {
            margin-top: 20px;
        }
        .categories {
            background-color: $black;
            padding: 20px;
            hr {
                color: $white;
            }
            h4 {
                color: $white;
                font-family: "heading-font";
            }
            p {
                margin: 10px 0;
                a {
                    font-size: 22px !important;
                    &:hover {
                        color: $yellow;
                    }
                }
                .number {
                    color: $yellow;
                }
            }
        }
        .best-seller {
            background-color: $black;
            padding: 20px;
            margin-top: 40px;
            h4 {
                color: $white;
                font-family: "heading-font";
            }
            .best-seller-item {
                display: flex;
                .best-seller-item-img {
                    width: 60px;
                    height: 80px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .best-seller-item-content {
                    margin-left: 20px;
                    .name {
                        a {
                            font-size: 22px !important;
                        }
                        margin: 0;
                    }
                    .price {
                        font-size: 22px;
                        color: $yellow;
                    }
                }
            }
        }
        .tags {
            background-color: $black;
            padding: 20px;
            margin-top: 40px;
            h4 {
                color: $white;
                font-family: "heading-font";
            }
            a {
                font-size: 20px !important;
                transition: 0.2s all;
                &:hover {
                    color: $yellow;
                }
            }
        }
        .follow-us {
            @extend .tags;
        }
    }

    .product {
        margin-top: 30px;
        padding: 10px;
        img {
            width: 100%;
            height: 300px;
            max-height: 300px; //chira
            object-fit: cover;
        }
        .product-info {
            display: flex;
            justify-content: space-between;

            a {
                color: $white;
                font-size: 20px !important;
                margin-top: 10px;
            }
            p {
                font-size: 22px;
                color: $yellow;
            }
        }
    }
    #cd_project_gallery {
        margin-top: 100px;
        .project-item {
            margin-top: 100px;
            h2{
                font-family: "heading-font-1";
            }
            h5{
                text-transform: inherit !important;
            }
            .project-item-img-1 {
                background-image: url("../img/project1.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;
                a {
                    position: absolute;
                    bottom: 3%;
                    right: 3%;
                }
            }
            .project-item-img-2 {
                @extend .project-item-img-1;
                background-image: url("../img/project2.jpg");
            }
            .project-item-img-3 {
                @extend .project-item-img-1;
                background-image: url("../img/project3.jpg");
            }
            .collection-img{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                .collection-img-item{
                    display: flex;
                    flex-direction: column;
                    flex: 48%;
                    max-width: 48%;
                    a{
                        margin: 12px;
                    }
                    img{
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 426px) {
    #cd_collection {
        #cd_collection_header {
            nav{
                button[aria-expanded="true"]{
                    margin: 12px 0px 0px;
                }
                height: 80px !important;
    }
    #cd_project_gallery {
        .popup-gallery{
            .project-item {
                margin-top: 0px !important;
            }
            .collection-img{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .collection-img-item{
                    display: flex;
                    flex-direction: column;
                    flex: 100%;
                    max-width: 100%;
                }
            }
        } 
    }
    nav>a{
        display: block !important;
    }
}
    }
}