// importing the header
@import "../layout/header";

#cd_home_new {
    position: relative;
    margin-top: 100px;
    h3{
        font-family: "heading-font-1";
    }

    @include sm {
        margin-top: 50px;
    }
    .new_content {
        padding: 20px;
    }
    .new_content-img {
        padding: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .new-back-line {
        position: absolute;
        top: -30%;
        left: -10%;
        z-index: -999;
        @include sm {
            display: none;
        }
    }
}

#cd_home_sale_now_poster {
    margin-top: 100px;
    img {
        width: 100%;
        height: auto;
    }
    .sale_poster {
        padding: 250px 0;
        background-image: url("../img/sofa/home-sofa.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border: 5px solid #fff;
        h3{
            font-family: "heading-font-1";
        }
    }
    .now_poster {
        @extend .sale_poster;
        background-image: url("../img/arm-chair/DSC08831.jpg");
    }
    .sale_new_poster {
        @extend .sale_poster;
        background-image: url("../img/kit-chen.jpg");
    }
    .now_new_poster {
        @extend .sale_poster;
        background-image: url("../img/wardrobe.jpg");
    }
    .sale_new_poster_1 {
        @extend .sale_poster;
        background-image: url("../img/wall-planning/B.JPG");
    }
    .now_new_poster_1 {
        @extend .sale_poster;
        background-image: url("../img/furnishing/210927-UTM-01.jpg");
    }
    .sale_new_poster_2 {
        @extend .sale_poster;
        background-image: url("../img/decor/WG_01345.jpg");
    }
    .now_new_poster_2 {
        @extend .sale_poster;
        background-image: url("../img/outdoor/outdoor-1.jpg");
    }
}

#cd_home_collection {
    // margin-top: 100px;
    .collection_heading {
        background-image: url("../img/collection-back.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        h3{
            font-family: "heading-font-1";
        }
    }
    .collections {
        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
        p {
            font-size: 18px;
            .btn-custom-1{
                background-image: -webkit-gradient(linear, left top, right top, from(#cb8b1b), to(#eab83b));
                background-image: linear-gradient(to right, #cb8b1b, #eab83b);
                padding: 20px 50px;
                border-radius: 50px;
                font-family: "heading-font";
                font-size: 14px !important;
                color: #000;
                letter-spacing: 1.8px;
                padding: 10px 25px !important;
            }
        }
    }
}
#cd_home_collection_2 {
    margin-top: 100px;
    h2 {
        text-transform: uppercase;
    }
    .collection_2_content {
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            height: 100%;
        }
        .collection_2_content_text {
            padding: 80px;
            // margin-top: 50px;
            @include sm {
                padding: 30px;
            }
        }
        h2 {
            font-size: 30px;
        }
    }
}
#cd_home_our_products {
    margin-top: 100px;
    .back-wrapper {
        padding-top: 50px;
        background-image: url("../img/our-products-back.png");
    }
    .products {
        margin-top: 20px;
        img {
            width: 100%;
            height: auto;
        }
        h5 {
            color: $yellow;
        }
        p {
            font-size: 18px;
        }
    }
}
#cd_home_video {
    margin-top: 10px;
    // background-image: url("../img/video-back.png");
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 40px 0px 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    iframe{
        width: 100%;
        height: 600px;
    }
    .play {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        
    }
    a {
        font-size: 26px;
    }
}
#cd_home_process {
    // margin-top: 100px;
    position: relative;
    h3 {
        margin-top: 100px;
        font-family: "heading-font-1";
    }
    h2 {
        font-size: 45px;
    }
    .new-back-line {
        position: absolute;
        top: -30%;
        left: -10%;
        z-index: -999;
    }
    img {
        width: 100%;
        height: auto;
    }
    i {
        color: $dark-yellow;
    }
}
#cd_home_new_2 {
    margin-top: 100px;
    margin-bottom: 100px;
    // background-image: url("../img/sofa/sofa-k66.jpg");
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.502305145691089) 100%),url("../img/sofa/sofa-k66.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 250px 0;
    text-align: right;
    @include sm {
        text-align: center;
    }
    h2 {
        color: $white;
        font-family: "heading-font-1";
    }
    h3{
        font-family: "heading-font-1";
    }
}
footer{
    .navbar-nav{
        .nav-item {
            
        
            .nav-link {
        
                &:hover {
                    color: $yellow !important;
                }
            }
        }    
    }
}
#cd_home_colors {
    padding: 100px 0;
    background-image: url("../img/colors-bak.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .colors-content {
        margin-top: 50px;
    }
    a {
        font-size: 20px;
        font-weight: bold;
        font-family: "heading-font";
    }
    img {
        width: 100%;
        height: auto;
    }
    h3{
        font-family: "heading-font-1";
    }
}
#cd_home_words {
    img {
        width: 100%;
        height: auto;
    }
    .your_words_content {
        margin-top: 120px;
        background-color: $yellow-light;
        padding: 100px;
        @include lg {
            padding: 50px;
            margin-top: 50px;
        }
        @include sm {
            padding: 50px 20px;
        }
        h3 {
            color: $black;
            font-family: "heading-font-1";
        }
        p {
            color: $black;
            font-size: 20px;
        }
        h2 {
            color: $dark-yellow;
        }
        h5 {
            color: $dark-yellow;
            font-family: "heading-font";
        }
    }
}
#cd_home_contact {
    margin-top: 100px;
    h3{
        font-family: "heading-font-1";
    }
}

.col-lg-3{
    h3{
        font-family: "heading-font-1";
    }
}
// importing the footer
@import "../layout/footer";

@media only screen and (max-width: 426px) {
    .cd_home_process h5{
        text-align: center !important;
    }
}
@media only screen and (max-width: 426px) {
    #cd_home {
        #cd_home_header {
            nav{
                button[aria-expanded="true"]{
                    margin: 12px 0px 0px;
                }
    }
}
    }
}
h5{
    a:hover{
        color: #eab83b;
    }
}
.btn-custom:hover{
    background: transparent;
    border: 1px solid #fff;
}
.btn-custom-1:hover{
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff;
}