// importing the header
@import "../layout/header";
.margin-x{
    margin: 0px 24px !important;
}
#cd_project {
    .cd_project_breadcrumb {
        @extend .cd_breadcrumb;
    }
    .project-heading {
        margin-top: 200px;
        h1 {
            color: #fff;
        }
    }
    #cd_project_gallery {
        margin-top: 100px;
        
        .project-item {
            margin-top: 100px;
            
            h2{
                font-family: "heading-font-1";
            }
            h5{
                text-transform: inherit !important;
            }
            .project-item-img-1 {
                background-image: url("../img/residence1/WG_08013-HDR.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;
                a {
                    position: absolute;
                    bottom: 3%;
                    right: 3%;
                }
            }
            .project-item-img-2 {
                @extend .project-item-img-1;
                background-image: url("../img/residence2/DSC_0266-Edit.jpg");
            }
            .project-item-img-3 {
                @extend .project-item-img-1;
                background-image: url("../img/residence3/17.jpg");
            }
            .project-item-img-4 {
                @extend .project-item-img-1;
                background-image: url("../img/residence4/WG_01346.jpg");
            }
        }
    }
}
@media only screen and (max-width: 426px) {
    #cd_project #cd_project_gallery .project-item .project-item-img-1, 
    #cd_project #cd_project_gallery .project-item .project-item-img-4, 
    #cd_project #cd_project_gallery .project-item .project-item-img-3, 
    #cd_project #cd_project_gallery .project-item .project-item-img-2 {
        height: 200px !important;
    }
    .btn-custom {
        padding: 8px 13px !important;
        font-size: 14px !important;
    }
    h5{
        text-align: justify;
    }

}
@media only screen and (max-width: 426px) {
    .margin-x{
        margin: 0px 6px !important;
    }
    #cd_project {
        #cd_project_header {
            nav{
                button[aria-expanded="true"]{
                    margin: 12px 0px 0px;
                }
                height: 80px !important;
    }

    nav>a{
        display: block !important;
    }
}
    }
    #cd_project_gallery{
        .project-item{
            
            h3{
                margin-top: 20px;
            }
            .line{
                display: inline-block;
                width: 90px;
                height: 2px;
                background-color: #eab83b;
                margin-bottom: 20px;
            }
        }
    }
}