// importing the header
@import "../layout/header";

#cd_project {
    .cd_project_breadcrumb {
        @extend .cd_breadcrumb;
    }
    .project-heading {
        margin-top: 200px;
        h1 {
            color: #fff;
        }
    }
    #cd_project_gallery {
        margin-top: 100px;
        .project-item {
            margin-top: 100px;
            h3{
                font-family: "heading-font-1";
            }
            .project-item-img-1 {
                background-image: url("../img/residence1/WG_08013-HDR.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;
                a {
                    position: absolute;
                    bottom: 3%;
                    right: 3%;
                }
            }
            .project-item-img-2 {
                @extend .project-item-img-1;
                background-image: url("../img/residence2/DSC_0266-Edit.jpg");
            }
            .project-item-img-3 {
                @extend .project-item-img-1;
                background-image: url("../img/residence3/17.jpg");
            }
            .project-item-img-4 {
                @extend .project-item-img-1;
                background-image: url("../img/residence4/WG_01346.jpg");
            }
        }
    }
}
