footer {
  margin-top: 100px;
  padding: 50px 0;
  background-color: #342f28;
  p {
    font-size: 24px;
    @include lg {
      font-size: 20px;
    }
  }
  h5 {
    @include lg {
      font-size: 20px;
    }
  }
  h3{
    font-family: "heading-font-1";
  }
  .navbar-brand {
    width: 250px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 426px) {
  #cd_home {
      #cd_home_header {
          nav{
              button[aria-expanded="true"]{
                  margin: 12px 0px 0px;
              }
  }
}
  }
  footer {
    .col-lg-4{
      text-align: center;
    }
    .col-lg-3{
      text-align: center;
      h3{
        margin-top: 30px;
      }
      .form-group{
        text-align: left !important;
      }
    }
    .d-flex{
      margin: 20px 0;
    }
  }
}